.App {
  text-align: center;
}

.image-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Reduced padding for a smaller header */
  background-color: #f3f3f3; /* Light background */
  border-bottom: 2px solid #333; /* Dark border to distinguish the header */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px; /* Increase the logo size */
  margin-right: 20px; /* Space between logo and company name */
}

.company-name {
  font-size: 1.5rem; /* Slightly reduce the font size of the company name */
  color: #333; /* Dark text color */
  font-family: 'Arial', sans-serif; /* Preferred font */
}
